@import url('https://fonts.googleapis.com/css2?family=Poppins');

.shop-header {
  background-color: floralwhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  font-size: 20px;
  font-family: Poppins;

  &__filter, &__sort {
    display: flex;
    align-items: center;

    &--likes, &--border, &--results, &--text, &--input {
      cursor: pointer;
      padding-left: 10px;
    }

    &--likes {
      border-right: 2px solid gray;
      padding-right: 20px;
      height: 30px;
      width: 30px;
    }

    &--results {
      font-size: 16px;
    }
  }
}

.shop-footer {

  .shop-footer__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;

    &--item {
      padding: 10px 20px;
      background-color: floralwhite;
      border: 1px solid floralwhite;
      border-radius: 10px;
      font-size: 20px;
      margin-right: 40px;
      font-size: 20px;
      font-family: Poppins;
      font-weight: 100;
      color: gray;
      cursor: pointer;
    }
  }
}

.shop-cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shop__sort--input {
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  font-family: Poppins;
  border: none;
  margin-left: 20px;
}
