.cart {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-family: Poppins;
  width: 100%;
  flex-wrap: wrap;
  &__products {
    &--titles {
      background-color: floralwhite;
      display: flex;
      text-align: center;
      display: flex;
      text-align: center;
      justify-content: space-around;
    }
    &--title {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 70px;
    }
  }
  &__totals {
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
    padding: 20px 60px;
    border-radius: 10px;
    align-items: center;
    &--title {
      margin: 0 0 30px 0;
      padding: 0;
    }
    &--subtotal, &--total {
      padding: 10px 0px;
    }
    &--btn {
      background-color: floralwhite;
      border: 1px solid black;
      font-family: Poppins;
      font-size: 20px;
      border-radius: 10px;
      padding: 10px 35px;
      margin: 30px 0;
      cursor: pointer;
    }
  }
}
