.footer
    .footer__menu
        .footer__menu--info Furniro
            .footer__menu--info-description 400 University Drive Suite 200 <br> CoralGables, <br> FL 33134 USA
        .footer__menu--links links
            .footer__menu--links-item Home
            .footer__menu--links-item Shop
            .footer__menu--links-item About
            .footer__menu--links-item Contact
        .footer__menu--help Help
            .footer__menu--help-item Payment Options
            .footer__menu--help-item Returns
            .footer__menu--help-item Privacy Policies
        .footer__menu--newsletter NewsLetter
            input(type="email" placeholder="Enter Your Email Address" class="footer__menu--newsletter-email")
            input(type="button" class="footer__menu--newsletter-btn" value="SUBSCRIBE")
    .footer__info
        .footer__info--line
        .footer__info--text 2023 Furniro. All rights reserved
