.header
    .header__logo
        img(src="../assets/icons/logo.svg")
    .header__list
        .header__list--item Home
        .header__list--item Shop
        .header__list--item About
        .header__list--item Contact
    .header__icons
        .header__icons--item
            img(src="../assets/icons/profile.svg")
        .header__icons--item
            img(src="../assets/icons/search.svg")
        .header__icons--item
            img(src="../assets/icons/likes.svg")
        .header__icons--item
            img(src="../assets/icons/cart.svg")

